#courses{
    border: 2px solid black;
    background-color: grey;
    margin:40px;
    padding:40px;
    display:flex;
    
   
}

.course{
    color:black;
    background-color:antiquewhite;
    border:2px solid black;
    margin:10px;
    padding:20px;
    height: 100px;
    width:250px;
    
}
#button{
 
    display: flex;
    height:20px;
    width: 20px;
  
}

#login{
    margin:10px;
}
#signup{

    margin:10px;
}